@import "tailwindcss";

:root {
    --color-primary: #2563eb;
}

body {
    font-family: sans-serif;
    background-color: #f3f4f6;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(0.5);
    }
}

.animate-explode {
    animation: explode 0.8s forwards;
}
